@inherits ComponentBase_WithGettextSupport

<EditForm class="p-0 m-0" Model="@Global.Instance">
    <Modal Visiable DialogBackdropVisiable DialogCentered>
        <HeaderContent>
            <h5 class="modal-title">
                @TextTitle
                <span class="badge badge-secondary">@Global.Instance.Version</span>
            </h5>
        </HeaderContent>
        <BodyContent>
            <div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-address-book"></i> </span>
                        </div>
                        <InputSelect @bind-Value="@CurrentProfileId" class="form-control">
                            <option selected value="">@TextChooseProfile</option>
                            @foreach (var t in
                            Quick.EntityFrameworkCore.Plus.ConfigDbContext.CacheContext.Query<Model.Profile>())
                            {
                                <option value="@t.Id">@t.Name</option>
                            }
                        </InputSelect>
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button"
                                @onclick="ShowProfileManageWindow">...</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @if (Global.Instance.Profile == null)
                    {
                        <input type="button" class="btn btn-success btn-block" value="@TextLogin" disabled />
                    }
                    else
                    {
                        <input type="button" class="btn btn-success btn-block" value="@TextLogin" @onclick="OnPost" />
                    }
                </div>
            </div>
            <ModalAlert @ref="modalAlert"></ModalAlert>
            <ModalWindow @ref="modalWindow" DialogSizeExtraLarge></ModalWindow>
            <ModalLoading @ref="modalLoading"></ModalLoading>
        </BodyContent>
    </Modal>
</EditForm>