@inherits ComponentBase_WithGettextSupport

<div class="mt-1">
</div>
<EditForm Model="this">
    <div class="row">
        <div class="col-12">
            <nav class="navbar p-0 pb-1">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group mr-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@TextProfile</span>
                                </div>
                                <div class="input-group-prepend">
                                    <button class="btn btn-secondary" type="button" @onclick="AddProfile" title="@TextAdd">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <InputSelect @bind-Value="@CurrentProfileId" class="form-control">
                                    <option selected value="">@TextChooseProfile</option>
                                    @foreach (var t in ProfileContexts)
                                    {
                                        <option value="@t.Profile.Id">@t.Profile.Name</option>
                                    }
                                </InputSelect>
                                @if (CurrentProfileContext != null)
                                {
                                    @if (CurrentProfileContext.Enabled)
                                    {
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary" type="button" @onclick="DisableProfile" title="@TextDisable">
                                                <i class="fa fa-stop" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary" type="button" @onclick="EnableProfile" title="@TextEnable">                                                
                                                <i class="fa fa-play" aria-hidden="true"></i>
                                            </button>
                                            <button class="btn btn-secondary" type="button" @onclick="EditProfile" title="@TextEdit">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                            </button>
                                            <button class="btn btn-secondary" type="button" @onclick="DeleteProfile" title="@TextDelete">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </button>
                                        </div>                                                                    
                                    }                                    
                                }
                            </div>
                        </div>
                    </div>
                    <div class="btn-group">
                        
                    </div>
                </div>
            </nav>
        </div>
    </div>
    @if (CurrentProfileContext != null && CurrentProfileContext.Enabled)
    {
        <Tabs IsNavPills>
            @foreach (var agent in CurrentProfileContext.Agents)
            {
                <TabPane Key="@agent.AgentName">
                    <Tab>
                        @agent.AgentName
                    </Tab>
                    <ChildContent>
                        <nav class="navbar pl-0">
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group mr-2">
                                    <button type="button" class="btn btn-sm btn-secondary" title="@TextAddProxyRule"
                                        @onclick=@(e=>AddProxyRule(agent.AgentName))>
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                </div>
                                @if (agent.IsLoggedIn)
                                {
                                    <div class="btn-group mr-2">
                                        <button type="button" class="btn btn-sm btn-secondary" title="@TextEnableAll"
                                            @onclick="@(e=>EnableAllProxyRules(agent.AgentName))">
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                            @TextEnableAll
                                        </button>
                                        <button type="button" class="btn btn-sm btn-secondary" title="@TextDisableAll"
                                            @onclick="@(e=>DisableAllProxyRules(agent.AgentName))">
                                            <i class="fa fa-stop" aria-hidden="true"></i>
                                            @TextDisableAll
                                        </button>
                                    </div>
                                }
                            </div>
                        </nav>
                        <div class="row">
                            @if (!agent.IsLoggedIn)
                            {
                                <div class="col-12">
                                    <div class="alert alert-danger" role="alert">
                                        @TextAgentNotLogin
                                    </div>
                                </div>
                            }
                            @foreach (var proxyRuleContext in GetProxyRuleContexts(agent.AgentName))
                            {
                                <div class="col-xl-3 col-lg-4 col-sm-12 mt-2">
                                    <div class="card">
                                        <div class="card-header">
                                            <i class="fa fa-cube mr-1" aria-hidden="true"></i>
                                            <span>@proxyRuleContext.Config.Name</span>
                                        </div>
                                        <div class="card-body small p-2">
                                            <p class="mb-0">
                                                <span class="font-weight-bold">
                                                    @TextLocal:
                                                </span>
                                                @proxyRuleContext.Config.LocalIPAddress:@proxyRuleContext.LocalPort
                                            </p>
                                            <p class="mb-0">
                                                <span class="font-weight-bold">
                                                    @TextRemote:
                                                </span>@proxyRuleContext.Config.RemoteHost:@proxyRuleContext.Config.RemotePort
                                            </p>
                                        </div>
                                        <div class="card-footer p-1">
                                            <div class="btn-group p-1">
                                                @if (agent.IsLoggedIn)
                                                {
                                                    <div class="custom-control custom-switch d-inline">
                                                        <InputCheckbox class="custom-control-input"
                                                            id="@($"switch_enable_proxyrule_{proxyRuleContext.Config.Id}")"
                                                            @bind-Value="proxyRuleContext.Config.Enable"
                                                            @onclick="@(e=>onProxyRuleEnableChanged(proxyRuleContext))" />
                                                        <label class="custom-control-label"
                                                            for="switch_enable_proxyrule_@proxyRuleContext.Config.Id"></label>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="custom-control custom-switch d-inline">
                                                        <InputCheckbox class="custom-control-input"
                                                            id="@($"switch_enable_proxyrule_{proxyRuleContext.Config.Id}")"
                                                            @bind-Value="proxyRuleContext.Config.Enable" disabled />
                                                        <label class="custom-control-label"
                                                            for="switch_enable_proxyrule_@proxyRuleContext.Config.Id"></label>
                                                    </div>
                                                }
                                            </div>
                                            <div class="btn-group pull-right">
                                                <button type="button" class="btn btn-sm btn-secondary"
                                                    title="@TextDuplicateProxyRule)"
                                                    @onclick=@(e=>DuplicateProxyRule((Glash.Client.Protocol.QpModel.ProxyRuleInfo)proxyRuleContext.Config))>
                                                    <i class="fa fa-copy" aria-hidden="true"></i>
                                                </button>
                                                <button type="button" class="btn btn-sm btn-secondary" title="@TextEditProxyRule)"
                                                    @onclick=@(e=>EditProxyRule((Glash.Client.Protocol.QpModel.ProxyRuleInfo)proxyRuleContext.Config))>
                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                </button>
                                                <button type="button" class="btn btn-sm btn-secondary" title="@TextDeleteProxyRule)"
                                                    @onclick=@(e=>DeleteProxyRule((Glash.Client.Protocol.QpModel.ProxyRuleInfo)proxyRuleContext.Config))>
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </ChildContent>
                </TabPane>
            }
        </Tabs>
    }
    </EditForm>

    <ModalWindow @ref="modalWindow"></ModalWindow>
    <ModalLoading @ref="modalLoading"></ModalLoading>
    <ModalPrompt @ref="modalPrompt"></ModalPrompt>
    <ModalAlert @ref="modalAlert"></ModalAlert>